@import "./styles/main_page.css";
@import "./styles/contact.css";
@import "./styles/portfolio.css";
@import "./styles/profile.css";
@import "./styles/career.css";
@import "./styles/products.css";
@import "./styles/skills.css";
@import "./styles/ui/blog_card.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

body, html {
  @apply min-h-screen flex items-center justify-center;
}